$font-stack: Helvetica, Arial, sans-serif;
$accent-color: #3867ad;
$primary-color: #000000;
$background-color: #f7f7f7;
$font-color: #000000;
$font-focus-color: #a6a6a6;
body {
    background-color: $background-color;
    font-family: $font-stack;
    padding-top: 52px;
}
.about-image{
  height: 150px;
  background-image: url("/content/images/about.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: 30% 30%;
  background-repeat: no-repeat;
}
.home-image{
  height: 500px;
  background-image: url("/content/images/index.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}
.content-container--home {
    width: 85%;
    margin: 0px auto;
}
.center {
    margin: auto;
    width: 50%;
}
.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.content-colum {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.content-container {
    width: 85%;
    margin: 40px auto;
    background-color: $background-color;
}

.navbar-default {
    background-color: $background-color;
    .navbar-brand {
        color: $font-color;
    }
    .navbar-brand:focus,
    .navbar-brand:hover {
        color: $font-color;
        background-color: transparent;
    }
    .navbar-nav {
        li {
            a {
                color: $font-color;
                border-bottom: 2px;
                border-bottom-style: solid;
                border-bottom-color: transparent;
            }
            a:focus,
            a:hover {
                color: $accent-color;
                border-bottom-color: $accent-color;
            }
        }
    }
    .navbar-toggle {
        .icon-bar {
            background-color: $primary-color;
        }
    }
}
