.logoWrapper {
  padding: 0 var(--logo-padding-right);
}

.logoContainer {
  display: flex;
  height: 54px;
  text-decoration: none;
  align-items: center;
}

.logoText {
  color: black;
  font-size: 24px;
  letter-spacing: -2px;
  padding-left: 5px;
  padding-right: 20px;
  display: inline-block;
  text-decoration: none;
  margin: auto 0px;
}

.siteHeader {
  background-color: var(--secondary-backround-color);
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}
@media (max-width: 450px) {
  .siteHeader {
    position: static;
  }
}

.navContainer {
  display: flex;
  height: 100%;
  max-width: var(--content-max-width);
  margin: 0px auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.siteNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.siteNav a {
  font-size: 16px;
  padding: 18px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
  gap: 0.25rem;
}
.siteNav a:hover,
.siteNav a:active {
  background-color: var(--background-color);
}

.shell {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.shellContent {
  flex: 1 0 auto;
  min-height: 1px;
  padding-top: var(--header-height);
}

.footer {
  height: 40px;
  margin-top: 20px;
  background-color: var(--secondary-backround-color);
  flex: 0 0 auto;
}
