.header {
  background: var(--background-color);
  color: var(--font-color);
  position: static;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  border-bottom: var(--secondary-background-color) solid 2px;
  padding: 0 var(--spacing);
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
  }
}

.headerContainer {
  display: flex;
  height: 100%;
  max-width: var(--content-max-width);
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  height: 54px;
  text-decoration: none;
  align-items: center;
}

.logoText {
  font-size: 24px;
  letter-spacing: -2px;
  padding-left: 5px;
  padding-right: 20px;
  display: inline-block;
  text-decoration: none;
  margin: auto 0px;
}

.siteNav {
  position: relative;
}

.siteNav a {
  font-size: 16px;
  padding: 18px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 0.25rem;
  width: 100%;
}

.navMenu {
  position: absolute;
  right: calc(0rem - var(--spacing));
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

.navMenuHidden {
  display: none;
}

.menuButton {
  background: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .navMenu {
    position: static;
    flex-direction: row;
  }

  .menuButton {
    display: none;
  }

  .navMenuHidden {
    display: flex;
  }
}

.shell {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--background-color);
}

.shellContent {
  flex: 1 0 auto;
  min-height: 1px;
}

@media screen and (min-width: 768px) {
  .shellContent {
    padding-top: var(--header-height);
  }
}

.footer {
  height: 40px;
  margin-top: 20px;
  background: var(--background-color);
  color: var(--font-color);
  flex: 0 0 auto;
}
