@import 'wpContent';

.posts-container {

}

.post-title {
  flex: 1 1 auto;
  margin: 0;
}

.post-metadata {
  font-size: 14px;
}

.post-header {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

.post-footer {

}

.button--older-posts {

}
