<div class="shell">

  <header class="site-header">
    <div class="nav-container">
      <div class="logo-wrapper">
          <a routerLink="" class="logo-container">
            <img class="logo" src="assets/vrnoaf_roundel_notext.svg" />
            <p class="logo-text" >vRNoAF</p>
          </a>
      </div>

      <nav class="site-nav" >
        <ul>
          <li><a routerLink="about"><span><i class="fa fa-fighter-jet" aria-hidden="true"></i></span> Om oss</a></li>
          <li><a routerLink="teamspeak"><span><i class="fa fa-microphone" aria-hidden="true"></i></span> TeamSpeak</a></li>
          <li><a href="https://www.facebook.com/groups/vRNoAF/"><span><i class="fa fa-facebook-square" aria-hidden="true"></i></span> Facebook</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="shell-content">
    <router-outlet></router-outlet>
  </div>

  <div class="shell-content">
    <app-messages ></app-messages>
  </div>

  <footer class="footer" ></footer>

</div>
