<div class="posts-container">
  <div class="loadingSpinner" *ngIf="isLoading" >
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="content" *ngFor="let post of posts">
    <div class="post-header">
      <h2 class="post-title">{{post.title}}</h2>
      <div>
        <div class="post-metadata" ><span><i class="fa fa-user-circle" aria-hidden="true"></i></span> {{post.author}}</div>
        <time class="post-metadata" datetime="post.datetime"><span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{post.datetime | date: 'medium'}}</time>
      </div>
    </div>
    <div class="post-content" [innerHTML]="post.content"></div>
  </div>
  <button class="button--older-posts" *ngIf="nextPageExists" (click)="nextPage()">Next page</button>
</div>