.pageLayout {
  display: grid;
  grid-template-rows: auto auto auto;
}

.bannerContainer {
  position: relative;
  height: 300px;
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1;
  z-index: -1;
}

.bannerTitle {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  text-align: center;
  background: linear-gradient(0deg, white, transparent);
  margin-bottom: 0;
  padding-bottom: 16px;
}

.content {
  grid-row: 3;
}
