html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
  height: 100%;
  background: var(--background-color);
  color: var(--font-color);
}

body > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

:root {
  --font-stack: 'Roboto', sans-serif;
  --font-height-text: 16px;
  --font-height-title: 42px;

  --text-line-height: 1.5;

  --secondary-backround-color: #ffffff;
  --background-color: #ffffff;
  --font-color: #333;
  --font-color-on-image: #ffffff;
  --font-focus-color: #a6a6a6;

  --content-max-width: 1000px;
  --text-max-width: 700px;
  --header-height: 100px;
  --banner-height: 450px;

  --spacing: 1rem;
  --spacing-l: 4rem;
  --spacing-content: 150px;
}
